.navbar {
    
    position: relative;
    
    .containernavbar{
      background-color: rgb(8, 7, 7) !important;
    
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      a {
        color: rgb(255, 255, 255) !important;
      }
      padding: 13px 10px;

      ul {
        transition: 3ms all ease;
        li {
          a {
            color: rgb(255, 255, 255) !important;
          }
        }
        li:hover a {
          border-bottom: 1px solid rgb(170, 0, 0);
        }
      }
    }
   
  }
  