<div class="cart-container">
   <div class="container">
        <h1> YOUR CART</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col"> Remove</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems; let i = index">
                <th scope="row"> {{item.id}}</th>
                <td><img [src]="item.image" alt="{{ item.name }}" style="width: 50px; height: 50px;"></td>
                <td>{{ item.name}}</td>
                <td>  {{item.quantity }} </td>
                <td >
                    <i class="fa-solid fa-trash" (click)="deleteFromCart(item.id)"></i>
                </td>
                <td>
                
                <div class="plus-minus">
                    <i class="fa-solid fa-plus" (click)="plusProduct(item)"></i>
                    <i class="fa-solid fa-minus" (click)="minusproduct(item)"></i>
                </div>
                </td>
              </tr>
             
            </tbody>
          </table>




   </div>

</div>
