/* You can add global styles to this file, and also import other style files */
.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 120vh;
    .form-container {
        
        width: 80%;
        
        background-color: rgb(231, 231, 231);
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        .backto a {
            text-decoration: underline;
            color: rgb(170,0,0);
        }
    }
}