.logincontainer {
    min-height: 500px;
    h1 {
        text-align: center;
    }
    .email-phone{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        gap: 20px;
       
    }
    .remove-add-btn {
       
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .addbtn {
          margin-top: 5px;
          padding: 7px 20px ;
        }
        
    }
    .sign-up-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    span {
        color: red;
    }
}